@font-face {
    font-family: WebsiteFont;
    src: url(websiteFont.ttf);
}

html, body{
    height:100%;
    font-family: Arial !important;
}

body {
    margin: 0px;
    padding: 0px;

    /*background: url("../img/tesla-bg.png");*/
    /*background-repeat: repeat;*/
    background-size: cover;
    /*background-size: contain;*/
}
a{
    color: inherit !important;
    text-decoration: none !important;
}

.credits-block p{
    margin-bottom: 5px !important;
    letter-spacing: 1px;
    color: #fd0f73;
    text-align: center;

}

.bold{
    font-weight: bold;
}

#title{
    margin-bottom:0px;
    margin-top: 36px;
    margin-bottom: 50px;
}

#wrap{
    width: 900px; 
    margin: 0 auto;
}

.row{
    padding: 0 !important;
    margin: 0 !important;
}



.social{
    color: #fd0f73;
    /*font-size: 0.75em;*/
    font-weight: bold;
    font-size: 12px;
    padding-right:30px;
    cursor: pointer;
}

#name{
    color: #fd0f73;
    /*font-size: 0.75em;*/
    font-weight: bold;
    float: right;
    letter-spacing: 1px;
    cursor: default;
}

#name-img{
    padding-bottom:15px;
}

#link-wrap{
    display: inherit; 
}

@media (min-width: 0px){
    .social{
        font-size: 6px;
        padding-right:10px;
    }
    .credits-block p{
        font-size: 6px;
    }

    #link-wrap{
        margin:0 auto;
        padding-top: 5px;
    }
    
    #name-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70px;
        margin-top: -15px;
    }
    .vid iframe, .credits-block{
        width: 224px;
        height: 126px;
    }
    #credits{
        top: -167px;
        left: -35px;
        width: 53%;
    }
    #name-container{
        padding-right:15px;
    }
    #perfume-img{
        width: 100px;
    }
}
@media (min-width: 325px){
    .social{
        font-size: 7px;
        padding-right:15px;
    }
    .credits-block p{
        font-size: 7px;
    }
}

@media (min-width: 351px){
    .social{
        padding-right:20px;
    }
}

@media (min-width: 370px){
    .social{
        font-size: 7.8px;
        padding-right:20px;
    }
    .credits-block p{
        font-size: 7.8px;
    }
}

@media (min-width: 395px){
    .social{
        padding-right:20px;
    }
    .vid iframe, .credits-block{
        width: 288px;
        height: 162px;
    }
    #credits{
        top: -212px;
        left: -46px;
        width: 53%;
    }
}

@media (min-width: 425px){
    .social{
        padding-right:24px;
    }
}

@media (min-width: 521px){
    .social{
        padding-right:30px;
        letter-spacing: 1px;
    }
    #name-img{
        width:70px; 
        margin-top:-1.5px;
    } 
}

@media (min-width: 580px){
    .social, .credits-block p{
        font-size: 10px;
    }
    .col-md-9.order-sm-2.order-md-1{
        padding-left:inherit;
    }
    .vid iframe, .credits-block{
        width: 400px;
        height: 225px;
    }
    #credits{
        top: -292px;
        left: -60px;
        width: 53%;
    }
    #perfume-img{
        width: 150px;
    }
}

@media (min-width: 768px){

    #name-img{
        float:right;
    }
    #link-wrap{
        margin: inherit;
    }
    .col-md-9.order-sm-2.order-md-1{
        padding-left:30px;
    }
    .vid iframe, .credits-block{
        width: 560px;
        height: 315px;
    }
    #credits{
        top: -389px;
        left: -60px;
        width: 43%;
    }
    #name-container{
        padding-right:45px
    }
    #link-wrap{
        padding-top: 0px;
    }
}

@media (min-width: 850px){
    .social, .credits-block p{
        font-size: 12px;
    }
}

@media (min-width: 1000px){
    .vid iframe, .credits-block{
        width: 720px;
        height: 405px;
    }
    #credits{
        top: -517px;
        width: 53%;
        left: -100px;
    }
}




