html, body{
    height:100%;
    overflow: hidden;
    font-family: Arial !important;
}

body {
    margin: 0px;
    padding: 0px;
}

html, body {
  height: 100vh;
  background-color: #000 !important;
  overflow: hidden;
}

.valign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* vendor prefixes omitted due to brevity */
}
.wrapper {
  position: absolute;
  width:100%;
  animation: 140s credits linear;   /*120*/
  animation-delay: 5.2s;
}

.social a, .social a:hover{
    color: #fff;
    writing-mode: tb-rl;
    font-size:13px;
    text-decoration: none;
}

.job p, #albumtitle, .songtitle, .name p{
    color: #f1d125;
    color:#fff;
}

#cath{
    animation: 3s logo linear;
    animation-delay: 2s;
}

#albumtitle{
    margin: 0 auto;
    font-size: 70px;
    font-weight: bold;
}
.songtitle {
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 75px;
    font-weight: bold;
}
.icon-link{
    margin-right: 13px;
    margin-bottom: 25px;
}
.job p{
    text-align: right;
    text-transform: uppercase;
}

.name {
}

.name p{
    text-align: left;
    text-transform: uppercase;
}

@keyframes credits {
    0% { top:  100%; }
  100% { top: -600%; }
}


@keyframes logo {
    0%  {opacity: 1}
    100% {opacity: 0}
}



@media(min-width:0px){
    .name p, .job p{
        font-size: 10px;
    }
    .songtitle {
        font-size: 28px;
    }
    #cath{
        width:275px;
    }
    .extra-pad{
        margin-top: 32px;
    }
    .jobs{
        padding-right:10px
    }
    .people{
        padding-left: 10px
    }
    .icon-link{
        width: 36px;
        height: 36px;
    }
    .last-link{
        margin-right: 20px;
    }
    .sidebar{
        margin-right: 10px !important;
    }
}

@media(min-width:400px){
    .name p, .job p{
        font-size: 12px;
    }
    .extra-pad{
        margin-top: 36.5px;
    }
}


@media(min-width:500px){
    .name p, .job p{
        font-size: 15px;
    }
    .songtitle {
        font-size: 30px;
    }
    #cath{
        width:400px;
    }
    .extra-pad{
        margin-top: 41px;
    }
    .jobs{
        padding-right:25px
    }
    .people{
        padding-left: 25px
    }
    .icon-link{
        width: 40px;
        height: 40px;
    }
    .last-link{
        margin-right: 35px;
    }
    .sidebar{
        margin-right:30px !important;
    }

}


@media(min-width:800px){
    .name p, .job p{
        font-size: 17px;
    }
    .extra-pad{
        margin-top: 44px;
    }
}























