html, body{
    height:100%;
    overflow: hidden;
    font-family: Arial !important;
}

body {
    margin: 0px;
    padding: 0px;
}

html, body {
  height: 100vh;
  background-color: #000 !important;
  overflow: hidden;
}

.valign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* vendor prefixes omitted due to brevity */
}
.wrapper {
  position: absolute;
  width:100%;
  animation: 120s credits linear;
  animation-delay: 3.2s;
}

.job p, #albumtitle, .songtitle, .name p{
    color: #f1d125;
    color:#fff;
}

#cath{
    animation: 3s logo linear;
}

#albumtitle{
    margin: 0 auto;
    font-size: 70px;
    font-weight: bold;
}
.songtitle {
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 75px;
    font-weight: bold;
}
.icon-link{
    width: 40px;
    height: 40px;
    margin-right: 13px;
    margin-bottom: 25px;
}
.job p{
    text-align: right;
    text-transform: uppercase;
}

.name {
}

.name p{
    text-align: left;
    text-transform: uppercase;
}

@keyframes credits {
    0% { top:  100%; }
  100% { top: -600%; }
}


@keyframes logo {
    0%  {opacity: 1}
    100% {opacity: 0}
}



@media(min-width:0px){
    .name p, .job p{
        font-size: 8px;
    }
    .songtitle {
        font-size: 28px;
    }
    #cath{
        width:275px;
    }
    .extra-pad{
        margin-top: 32px;
    }
}

@media(min-width:400px){
    .name p, .job p{
        font-size: 10px;
    }
    .extra-pad{
        margin-top: 34px;
    }
}


@media(min-width:500px){
    .name p, .job p{
        font-size: 13px;
    }
    .songtitle {
        font-size: 33px;
    }
    #cath{
        width:400px;
    }
    .extra-pad{
        margin-top: 39px;
    }
}


@media(min-width:800px){
    .name p, .job p{
        font-size: 21px;
    }
    .extra-pad{
        margin-top: 49px;
    }
}























